.itemContainer {
     width: 100%;
     border-radius: 6px;
     padding: 10px 20px;
     margin: -1px 0;
     font-weight: 400;
     border: 2px solid #00000045;
     background: transparent;
     transition: background 2s ease;
}

.itemContainer:hover {
     cursor:pointer
   }

.itemContainerActive {
     background: #c0d6f1;
   }


.itemsHeader {
     margin: 0;
     font-weight: 500;
     text-align: left;
     width: 100%;
     font-size: 1rem;
     white-space: nowrap;
     overflow: hidden;
}

.itemsHeader:hover {
     text-decoration: underline;
}

.itemsTitle {
     font-size: 1.5rem;
     color: black;
     font-weight: 500;
     font-style: normal;
     margin: 0 0 .5rem 0;
}

.itemsKeysTitle {
     display: inline-block;
     color: rgb(83, 83, 83);
     font-weight: 600;
     margin: 3px 0;
     padding-right: .5rem;
}

.itemsValue {
     display: inline-block;
     color: rgb(83, 83, 83);
     margin: 0;
}

.separatorDiv {
     display: flex;
     justify-content: center;
     width: 100%;
}