.container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    border-radius: 29px;
    padding: 11px;
    color:white;
}

.disabled {
    opacity: 0.4;
}


.icon {
    color:#0e307c;
    width: 28px;
    height: 28px;
}