.container {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    border-radius: 29px;
    padding: 0;
    color: white;
}

.disabled {
    opacity: 0.4;
}
