.btnText {
  color: white !important;
}

.buttonStructure {
  border-radius: 0.6875rem !important;
  background-image: linear-gradient(to bottom right, #47396a, #6b509e, #d19bd6) !important;
  color: white;
  border: none;
  font-weight: 600;
}

.buttonStructure:hover {
  background-image: linear-gradient(to top left, #47396a, #6b509e, #d19bd6) !important;
}

.faqOptions {
  word-break: break-word;
  background: linear-gradient(to right, #F9E4F0, #CAE5FF);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

.faqOptions:hover {
  background: linear-gradient(to left, #F9E4F0, #CAE5FF);
  transition: background-color 0.3s ease;
}

/* Btn = button */

.btn {
  height: 2.5rem;
  border: none;
}

.commandBtn {
  position: absolute;
  right: 0;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.deleteConversationBtn {
  height: 3rem;
  margin-right: 1rem;
}

.buttonCitation {
  color: white;
  width: 100%;
  height: auto;
  padding: .5rem;
}

.urlItemPdf {
  width: 65%;
  height: 25px;
  margin-left: 15px;
}