.btnText {
  color: white !important;
}

.buttonStructure {
  border-radius: 0.6875rem !important;
  background: #0e307c !important;
  color: white;
  border: none;
  font-weight: 600;
}

.buttonStructure:hover {
  background-image: #CAE5FF !important;
}

.faqOptions {
  word-break: break-word;
  background: #CAE5FF;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

.faqOptions:hover {
  transition: background-color 0.3s ease;
}

/* Btn = button */

.btn {
  height: 2.5rem;
  border: none;
}

.commandBtn {
  position: absolute;
  right: 0;
  width: 7rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.deleteConversationBtn,
.backBtn {
  height: 3rem;
}

.buttonCitation {
  color: white;
  width: 100%;
  height: auto;
  padding: .5rem;
}

.urlItemPdf {
  width: 55%;
  height: 25px;
  margin-left: 15px;
  margin-bottom: 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1rem;
}

.chatButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 1rem;
}

/* Copy Button  */
.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  border: 1px solid #d1d1d1;
}

.copyButtonContainer:hover {
  cursor: pointer;
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

/* Modal buttons */
.modalBtn {
  border-radius: 12px;
  border: 1px solid black;
}