.thoughtProcess {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
    padding-top: 12px;
    padding-bottom: 12px;
}



.itemButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin: auto 2.5px;
    cursor: pointer;
    color: white;
}

.buttonCitation {
    border-radius: 0.6875rem !important;
    background-image: linear-gradient(to bottom right, #47396a, #6b509e, #d19bd6) !important;
    color: white;
    width: 100px;
    height: 30px;
}