.thoughtProcess {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
    padding-top: 12px;
    padding-bottom: 12px;
}

.itemButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin: auto 2.5px;
    cursor: pointer;
    color: white;
}

/* Force white text color on selected and unselected Pivot tabs */
.ms-Pivot .ms-Button {
    color: white !important;
    /* Applies white color to all tabs */
}

/* Additionally, you can style only the selected tab */
.ms-Pivot .ms-Button--selected {
    color: white !important;
    /* Ensures selected tab is also white */
}