.thoughtProcess {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
    padding-top: 12px;
    padding-bottom: 12px;
}

.itemButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin: auto 2.5px;
    cursor: pointer;
    color: white;
}

.ms-Pivot .ms-Button--selected {
    color: black !important;

}
 
.ms-Button:hover {
    background: transparent !important;
}

.closeAnalysisTab {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 93%;
    top: 16px;
    cursor: pointer; /* Ensures pointer feedback */
    background-color: transparent; /* Transparent background for visibility */
    border: none; /* No unwanted borders */
    z-index: 10; /* Ensure it's on top of other elements */
    padding: 0; /* No extra padding to prevent overflow */
}

.closeAnalysisTab i {
    pointer-events: none; /* Ensure clicks go to the parent */
    font-size: 1.5rem; /* Adjust icon size for visibility */
    color: white; /* Matches your styling */
}
