* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background: linear-gradient(135deg, #0d3a6a, #1a5a9a 40%, #c8dcf5 70%, #a8d0f0);
    background-size: 200% 400%;
    background-position: center;
    background-attachment: fixed;
    color: white;
    border-radius: 8px;
    overflow-y: auto;
}

#root {
    height: 100%;
}

/* This is to hide the scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* Disable scrollbar for all elements */
* {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

h1, h2, h3, h4 , h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}